@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --poppins:'Poppins';
}


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: 
  caramellatte --default;
 }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.b{
  border: 1px solid rgb(149, 46, 46)
}